body {
    background: url(../img/beige056.jpg);
    background-repeat: repeat;
    color: gold;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    max-width: 1200px;
}
b {
    font-size: 1.5em;
    text-shadow: 2px 2px #000000;
}
p {
    font-size: 1.25em;
    text-shadow: 2px 2px #000000;
}
img {
    padding-left: 30%;
    padding-top: 10%;
}
nav {
    text-align: center;
    padding-left: 17%;
}
nav ul li {
    display: inline-block;
    padding-left: 5%;
}
nav ul li button {
    background: url(../img/dgrey014.jpg);
    border: none;
    color: #ffffff;
    font-family: 'Charm', cursive;
    font-size: 1.875em;
    font-weight: bold;
    height: 110%;
    text-decoration: none;
    text-transform: uppercase;
    width: 130%;
}
nav ul li button:hover {
    color: #fff1b5;
}
#samples button {
    background: url(../img/dgrey014.jpg);
    border: none;
    color: #ffffff;
    font-family: 'Charm', cursive;
    font-size: 1.5em;
    font-weight: bold;
    height: auto;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 20%;
}